import React from "react";
import ReactDOM from "react-dom";
import App from "./pages/app/App";
<% if(bootstrap) { %>
import 'bootstrap/dist/css/bootstrap.min.css';
<%_ } -%>

ReactDOM.render(<App />, document.getElementById("root"));
